name: 'Send Slack webhook on failed job'

on:
  workflow_call:

jobs:
  notify-on-failure:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v5
        if: runner.debug != '1'

      - uses: slackapi/slack-github-action@v1.26.0
        if: runner.debug != '1'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_WEBHOOK_WORKFLOW_MONITOR }}
        with:
          # language=json
          payload: |
            {
              "repository": "${{ github.repository }}",
              "workflow": "${{ github.workflow }}",
              "url": "${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}"
            }
