name: 'Pull request'

on:
  pull_request:
    branches:
      - main

concurrency:
  group: pull-request-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/test.yml
    secrets: inherit

  verify-cache:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - uses: myparcelnl/actions/yarn-install@v5
        with:
          yarn-args: --check-cache
