name: 'Run tests'

on: workflow_call

jobs:
  test:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6

      - uses: actions/cache@v4
        id: cache
        with:
          path: |
            ./coverage
            junit.xml
          key: ${{ format('test-{0}', hashFiles('package.json', 'yarn.lock', 'vitest.config.ts', 'private/test/**/*.ts', '**/*.spec.*')) }}

      - uses: ./.github/actions/yarn-install
        if: steps.cache.outputs.cache-hit != 'true'

      - name: 'Run tests'
        if: steps.cache.outputs.cache-hit != 'true'
        shell: bash
        #language=bash
        run: |
          yarn vitest run --coverage

      - uses: ./codecov-coverage
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

      - uses: ./codecov-test-results
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
